/* --- Точки перехода --- */
$mobile-width-min: 320px;
$mobile-width-max: 767px;
$tablet-width-min: 768px;
$tablet-width-max: 1023px;
$desktop-width-min: 1024px;
$desktop-width-max: 1600px;

/* --- Ретина --- */
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/* --- Цвета --- */
$color-white: #ffffff;
$color-sub-white: #dbdbdb;
$color-gray-light: #a8a7a7;
$color-gray: #757575;
$color-dark-gray: #666666;
$color-silver: #c3c6c9;
$color-black: #000000;
$color-light-blue: #8eaee9;
$color-blue: #658cd3;
$color-dark-blue: #3f82e6;
$color-scrollbar: #f7f7f7;
$color-scroller: #d9d9d9;
